<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - bioSyncMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/bioSyncMVC.styles.css" asp-append-version="true" />
</head>
<body>

    <header class="header-home">
        <div class="navbar">
            <div class="logo-mapa">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/logo-bio-sync-login.png" alt="" width="100px">
                </a>
            </div>
            <ul class="links">

                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="PontosDescarte" asp-action="Index">Pontos de Descarte</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="" asp-action="">Agendamento</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="BotoesCadastro" asp-action="Index">Cadastre-se</a>
                </li>
            </ul>

            <a asp-controller="Login" asp-action="Login" class="action_btn">Login</a>
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>

        <div class="dropdownmenu">
            <li>
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li>
                <a asp-area="" asp-controller="PontosDescarte" asp-action="Index">Pontos de Descarte</a>
            </li>
            <li>
                <a asp-area="" asp-controller="" asp-action="">Agendamento</a>
            </li>
            <li>
                <a asp-area="" asp-controller="BotoesCadastro" asp-action="Index">Cadastre-se</a>
            </li>

            <a asp-controller="Login" asp-action="Login" class="action_btn">Login</a>
        </div>
    </header>

    <script>
        const toggleBtn = document.querySelector('.toggle_btn')
        const toggleBtnIcon = document.querySelector('.toggle_btn i')
        const dropDownMenu = document.querySelector('.dropdownmenu')

        toggleBtn.onclick = function () {
            dropDownMenu.classList.toggle('open')
            const isOpen = dropDownMenu.classList.contains('open')

            toggleBtnIcon.classList = isOpen
                ? 'fa-solid fa-xmark'
                : 'fa-solid fa-bars'
        }
    </script>


    <!--<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">bioSyncMVC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                         <li class="nav-item">
                           <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Index">Usuario</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>-->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="rodhome">
        <h1 class="ideali">Idealizadores</h1>

        <div class="profiles">
            <div class="ailton">
                <a href="#">
                    <img src="~/img/Intersect.png" alt="foto-ailton" id="foto-ailton">
                </a>
            </div>

            <div class="erasmo">
                <a href="#">
                    <img src="~/img/Intersect.png" alt="foto-erasmo" id="foto-erasmo">
                </a>
            </div>

            <div class="higor">
                <a href="#">
                    <img src="~/img/Intersect.png" alt="foto-higor" id="foto-higor">
                </a>
            </div>

            <div class="jose">
                <a href="#">
                    <img src="~/img/Intersect.png" alt="foto-jose" id="foto-jose">
                </a>
            </div>

            <div class="lucas">
                <a href="#">
                    <img src="~/img/Intersect.png" alt="foto-lucas" id="foto-lucas">
                </a>
            </div>
        </div>

        <p class="nomefooter"><strong>BIO</strong>SYNC</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
