@model bioSyncMVC.Models.Login
@{
    Layout = null;
    ViewData["Title"] = "Login Page";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/bioSyncMVC.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700;800&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>


<body>
    <main class="main-login">
        <h1>Login</h1>
        
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Usuario" class="control-label"></label>
                        <input asp-for="Usuario" class="form-control" />
                        <span asp-validation-for="Usuario" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Senha" class="control-label"></label>
                        <input asp-for="Senha" class="form-control" />
                        <span asp-validation-for="Usuario" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Entrar" class="btn btn-primary" />
                    </div>
                    @{
                        if (ViewBag.Error != null)
                        {
                            <div>@ViewBag.Error</div>
                        }
                    }
                    <div class="form-group">
                        @Html.ActionLink("Cadastre-se aqui", "Registro")
                    </div>
                </form>
            </div> <!-- Div que fecha a coluna. -->
        </div> <!-- Div que fecha a linha. -->
        @section Scripts {
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }
    </main>
</body>


<<body>
    <main class="main-login">
        <div class="wrapper">
            <form action="">
                <h1>Login</h1>

                <div class="input-box">
                    <input type="text" class="box" placeholder="CPF" required>
                    <i class='bx bxs-user'></i>
                </div>

                <div class="input-box">
                    <input type="password" class="box" placeholder="Senha" required>
                    <i class='bx bxs-lock-open-alt'></i>
                </div>

                <div class="remember">
                    <label><input type="checkbox">Lembrar-se</label>
                    <a href="#">Esqueceu sua senha?</a>
                </div>

                <button type="submit" class="btn">Login</button>

                <div class="register-link">
                    <p>
                        Não tem cadastro?
                        <a asp-area="" asp-controller="Usuario" asp-action="Create">Registre-se</a>
                    </p>
                </div>
            </form>

            <div class="logo">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/logo-bio-sync-login.png" alt="" width="100px" class="logo-img">
                    <p class="return">Voltar para o Inicio</p>
                </a>
            </div>
        </div>


    </main>
</body>
